@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container text-center">
    <h1 class="text-danger text-center">Oh no! :(</h1>
    <br />
    
    <h2 class="text-center">Sorry, an error occured when you tried to view this page.</h2><br />
    @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-success" })
</div>
