@model IEnumerable<EthnoBot.Models.TagSearchResultViewModel>


@if(Model!=null){
foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem =>item.TagCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag.Description)
        </td>
        <td>
            <a href="/Admin/AddTagToProduct?productId=@item.productId&tagId=@item.Tag.TagId">Add</a>
            @Html.ActionLink("Add Tag", "AddTagToProduct", new { productId=item.productId , tagId=item.Tag.TagId }) |
         </td>
    </tr>
}

}else{<p>No tags found, please refine search</p>}