@{
    ViewBag.Title = "About";
}

        <div class="team-boxed" style="color:#313437;background-color:#eef4f7">
            <div class="container">
                <div class="intro" style="font-size: 16px;max-width: 500px;margin: 0 auto;">
                                      
                        <h2 class="text-center">The Team</h2>
                        <p class="text-center" style="color:#7d8285">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
                    </div>
                <div class="row people" style="padding: 50px 0;text-align:center">
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box" style="text-align: center;padding: 30px;background-color: #fff;margin-bottom: 30px;">

                            <img class="rounded-circle" src="@Url.Content("~/Images/About/Martin.jpg")" style="max-width: 160px;" />
                            <h3 class="name" style="font-weight: bold;margin-top: 28px;margin-bottom: 8px;color: inherit;">Martin O Neill</h3>
                            <p class="title" style="text-transform: uppercase;font-weight: bold;color: #d0d0d0;letter-spacing: 2px;font-size: 13px;">Director</p>
                            <p class="description" style="font-size: 15px;margin-top: 15px;margin-bottom: 20px;">Martin is a B.A. Plant Science graduate of Trinity College Dublin. He is greatly interested in the plants people have found uses for and is passionate about using ethnobotany to further public education about plant diversity and function, and increase awareness of interrelated issues of conservation.</p>
                            <div class="social"><a href="https://www.linkedin.com/in/martin-o-neill-56a81715b"><img src="~/Images/linkedin.png" /></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box" style="text-align: center;padding: 30px;background-color: #fff;margin-bottom: 30px;">

                            <img class="rounded-circle" src="@Url.Content("~/Images/About/Christian.jpg")" style="max-width: 160px;" />
                            <h3 class="name" style="font-weight: bold;margin-top: 28px;margin-bottom: 8px;color: inherit;">Christian Kayembe</h3>
                            <p class="title" style="text-transform: uppercase;font-weight: bold;color: #d0d0d0;letter-spacing: 2px;font-size: 13px;">Director</p>
                            <p class="description" style="font-size: 15px;margin-top: 15px;margin-bottom: 20px;">Experienced and motivated certified Quality Engineer with a demonstrated history of working in the Pharmaceutical, Healtcare and engineering industry. Multidisciplinary engineer with a MSc in Pharmaceutical Manufacturing and Process Technology skilled in Operations Management, Engineering, Business Process Improvement, Statistical Process Control (SPC), Validation and Quality Management. Strong quality assurance professional with expertise in Lean and Six-Sigma tools.</p>
                            <div class="social"><a href="https://www.linkedin.com/in/martin-o-neill-56a81715b"><img src="~/Images/linkedin.png" /></a></div>
                        </div>
                    </div>

                </div>
                </div>
            </div>