@{
    ViewBag.Title = "Home Page";
}

<h3 class="text-center text-secondary">Welcome, Admin</h3>
<h3 class="text-center text-secondary">Please select an option below.</h3>

<hr />
<div class="container align-self-center">
<div class="row">
    <div class="col">
<h4>@Html.ActionLink("Manage Products","ProductIndex" ,"Admin")</h4>
    </div>
</div>    
</div>
