@{

}
    <div class="homeLoader" style="display:block;" id="homeLoader"></div>

<div id="mainContent" style="display:none">
    <div class="jumbotron border" style="background: url('/Images/Home3.jpg');width:100%;height:400px!important;word-wrap:break-word;background-repeat:no-repeat!important">
       
            
            <h2 class="text-light" style="color:#fff;text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">
                <b>Welcome to EthnoBotanicsInternational Marketplace</b>
            </h2>
            <br />
            <h3 class="text-light" style="color:#fff;text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">
                Access the diverse range of ethnobotanical, medicinal and theraputic plant species used by people around the world for their useful properties.
                <b> All our traders comply with international regualations on the handling of endangered species, such as CITES, and practice sustainable practices.</b>
            </h3>
       

    </div>
    <div class="row">
        <div class="col-md-4 border-success">
            <h3 class="text-success">Getting started</h3>
            <p class="text-success">
                Create an account by clicking on the button below and visit our Products page to browse our range of Products
            </p>
            <p>@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-lg", @role = "button" })</p>
        </div>
        <div class="col-md-4 border-info">
            <h3 class="text-info">Become a Partner</h3>
            <p class="text-info">
                Looking to sign up as a trusted seller? Once your details and products have been verified, you can start selling your produce on our site. It's easy: simply click the button below and fill out the form
            </p>
            <p class="text-info">@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-lg", @role = "button" })</p>
        </div>
        <div class="col-md-4 border-success">
            <h3 class="text-success">Contact Us</h3>
            <p class="text-success">
                Have any questions? Get in touch! Visit our contact page to find more information about EthnoBotanicals Ireland. All feedback is appreciated.
            </p>
            <p class="text-success">@Html.ActionLink("Contact Us", "About", "Home", new { @class = "btn btn-success btn-lg", @role = "button" })</p>
        </div>
    </div>
</div>
<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        document.getElementById("mainContent").style.display = "block";
        document.getElementById("homeLoader").style.display = "none";
       
    });
    </script>
        <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>