@model IEnumerable<EthnoBot.Models.Category>

@{
    /**/

    ViewBag.Title = "Products";
    string imagePath = (string)ViewData["ImagePath"];
    int rowcount = 0;
}



<div class="container">
    <div class="jumbotron-fluid">
      <br />  <h2 class="text-center text-success"><b>Categories</b></h2><br /><br />
    </div>
        <div class="container">


            <div class="card-deck">
                @foreach (var item in Model)
                {
                    <row>
                        <div class="card border-success mb-4">
                            <span class="border border-success">
                                <img class="card-img-top img-fluid" src="@item.ImagePath" alt="Card image cap" style="width:300px;height:180px">
                                </span>
                                <div class="card-body ">
                                    <h5 class="card-title text-success"><b>@item.Name</b></h5>
                                    <p class="card-text text-success" style="width:250px;height:50px">@item.Description</p>
                                </div>
                                <div class="card-body">
                                    @Html.ActionLink("View Items", "ListProducts", new { id = item.CategoryId }, new { @class = "btn btn-success btn-lg", @role = "button" })
                                </div>
                        </div>
                    </row>

                }


            </div>
        </div>
    
</div>

