@model EthnoBot.Models.ProductPageModel
@using EthnoBot.Models;
@{
    ViewBag.Title = "ProductAndListings";
}
@{

    var prod = Model.product;
    var listings = Model.listings;
    int i = 0;
}
<h2>Name: @prod.Title</h2>
<h2>Family: @prod.Family</h2>
<h2>Latin Name:@prod.LatinName</h2>

<p ></p>

<div class="list-group">

    @foreach (var item in listings)
    {
    
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Producer.Name.ToString()</h5>
                <small>Buy</small>
            </div>
            <p class="mb-1">@item.Producer</p>
            <small>Donec id elit non mi porta.</small>
        </a>
       
    </div>

    }
</div>
       
   

  

