@{
    
}

<div class="jumbotron" style="background: url('/Images/Home.png') no-repeat !important;">

    <h1 class="text-white">EthnoBotanicals Ireland</h1>
    <p class="lead text-light">EthnoBotanicals Ireland is an botany consulting company. EthnoBotanical is known for being an active organisation that understands the complexities in sourcing specific botanical products to suit your needs. We work with many trusted Partners who use our site to carefully foster new relationships with customers. </p>

</div>

<div class="row">
    <div class="col-md-4 border-success">
        <h3 class="text-success">Getting started</h3>
        <p class="text-success">
            Need to find and obtain a product listed on this site? Create an account and browse our Products and Partners
        </p>
        <p>@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-lg", @role = "button" })</p>
    </div>
    <div class="col-md-4 border-info">
        <h3 class="text-info">Become a Partner</h3>
        <p class="text-info">Looking to sign up as a trusted partner? Once your details and Products have been verified, you can start selling your products on our site. It's easy, just fill out this form</p>
        <p class="text-info">@Html.ActionLink("Sign Up", "RegisterSeller", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-lg", @role = "button" })</p>
    </div>
    <div class="col-md-4 border-success">
        <h3 class="text-success">Contact Us</h3>
        <p class="text-success">Have any questions for us? Visit our contact page for extra details about EthnoBotanicals. All feedback is appreciated.</p>
        <p class="text-success">@Html.ActionLink("Contact Us", "About", "Home", new { @class = "btn btn-success btn-lg", @role = "button" })</p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>


